<h1> GitHub User Profile Search </h1>
<p> Browse users and their profiles via <a href="https://docs.github.com/en/rest?apiVersion=2022-11-28"> GitHub API</a></p>
<app-search-bar (search)="searchQuery$.next($event)"></app-search-bar>
  <ng-container *ngIf="userList.length > 0; else noUsers">
    <div class="user-list">
      <app-user-card
        data-e2e-id="user-list"
        (navigateToUser)="navigateToUser($event)"
        *ngFor="let user of userList "
        [user]="user">
      </app-user-card>
    </div>
  </ng-container>

  <ng-template #noUsers>
    <span *ngIf="isSearching">No users are here... yet. </span>
  </ng-template>
