<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


  <main class="card" [class.dark]="isDarkMode()">
    <section class="card__body body">
      <div class="night-mode-container">
        <input type="checkbox" id="nightModeToggle" (click)="toggleDarkMode()" />
        <label for="nightModeToggle" class="night-mode-label">
          {{ isDarkMode() ? 'Night Mode On' : 'Night Mode Off' }}
        </label>
      </div>
      <router-outlet></router-outlet>
    </section>
  </main>


