/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;1,100;1,200;1,300;1,400&family=Roboto+Condensed:ital,wght@0,400;1,300;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$media-mobile-max: 599.99px !default;
$media-mobile-max-landscape: 959.99px;
$media-tablet-min: 600px !default;
$media-tablet-min-landscape: 960px;
$media-tablet-max: 1279.9px !default;
$media-tablet-max-landscape: 1279.9px;
$media-desktop-min: 840px !default;
$media-desktop-min-landscape: 1280px;

@mixin includeLight {
  $base-text-color: 0,0,0;
  --background-color: #eeeeee;
  --background-card-color: #ffffff;
  --background-success-color: #85da85;
  --background-toggle-inactive-color: rgba(#{$base-text-color}, 0);
  --background-toggle-active-color: rgba(#{$base-text-color}, 0.08);
  --foreground-color: rgba(#{$base-text-color}, 0.87);
  --foreground-success-color: #000000;
  --foreground-secondary-color: rgba(#{$base-text-color}, 0.56);
  --focus-color: rgba(#{$base-text-color}, 0.5);
}

@mixin includeDark {
  $base-text-color: 255,255,255;
  --background-color: #212121;
  --background-card-color: #363636;
  --background-success-color: #008000;
  --background-toggle-inactive-color: rgba(#{$base-text-color}, 0);
  --background-toggle-active-color: rgba(#{$base-text-color}, 0.1);
  --foreground-color: rgba(#{$base-text-color}, 0.87);
  --foreground-success-color: #ffffff;
  --foreground-secondary-color: rgba(#{$base-text-color}, 0.56);
  --focus-color: rgba(#{$base-text-color}, 0.5);
}

@mixin media-mobile {
  @media screen and (max-width: $media-tablet-max) and (orientation: portrait), (max-width: $media-tablet-max-landscape) and (orientation: landscape) {

    @content
  }
}

@mixin media-tablet {
  @media screen and (min-width: $media-tablet-min) and (max-width: $media-tablet-max) and (orientation: portrait), (min-width: $media-tablet-min-landscape) and (max-width: $media-tablet-max-landscape) and (orientation: landscape) {
    @content
  }
}

body, body.light { @include includeLight }
body.dark-mod { @include includeDark }

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  body { @include includeLight }
  body.dark { @include includeDark }
}

@media (prefers-color-scheme: dark) {
  body { @include includeDark }
  body.light { @include includeLight }
}

* {

  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  html, body {
    width: 100%;
    height: 100%;
    color: #222;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden
  }

  body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
  }

  h1 {
    font-size: 24px;
    font-weight: 500;
    color: var(--foreground-color);
  }

  p {
    font-size: 18px;
    color: var(--foreground-secondary-color);
    line-height: 1.5;
    margin-bottom: 16px;
  }

  span  {
    font-size: 16px;
    color: var(--foreground-secondary-color);
  }

  a {
    color: var(--foreground-color);
    text-transform: uppercase;
  }

  .card {
    width: 1000px;
    min-height: 500px;
    margin: 8px 16px;
    padding: 16px 24px 8px;
    background-color: var(--background-card-color);
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    .night-mode-container {
      display: flex;
      justify-content: flex-end;
    }

    &_header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    &_body {
      padding: 16px;
      min-width: 600px;
    }
    &_heading {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        text-decoration: none;
      }
      h1 {
        display: flex;
        align-items: center;
        cursor: pointer;
        svg {
          margin-right: 5px;
        }
      }
    }
  }

  .header {
    &_text {
      padding: 8px 0;
      margin-right: 16px;
    }
  }

  /* Toggle Button */
  input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }

  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 32px;
    background: #000 url('./assets/sun.svg') no-repeat 80%;
    background-size: 35%;
    display: block;
    border-radius: 100px;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 5px;
      width: 22px;
      height: 22px;
      background: #fff;
      border-radius: 50px;
      transition: 0.3s;
    }
    &:active:after {
      width: 55px;
    }
  }

  input:checked + label {
    background: #000 url('./assets/moon.svg') no-repeat 20%;
    background-size: 35%;
    &:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }
  }

}

@include media-mobile() {
 body {
  display: block;
  padding: 0;
  margin: 0;
}
  .card {
    width: 100vw;
    height: 100vh;
    padding: 15px;
    margin: 0;
    &_body {
      padding: 0;
      min-width: unset;
    }
  }
  .night-mode-container {
    margin-bottom: 15px;
  }
};

@include media-tablet() {
  .card {
    width: 90vw;
  }
};
